{% extends 'base.html.twig' %}

{% block title %}Set User for Device{% endblock %}

{% block body %}
    <h3>Set User for Device</h3>

    {{ include('device/_form_edit_worker.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_device_show',{'id': device.id}) }}">back to Device</a>

{% endblock %}
