{% extends 'base.html.twig' %}

{% block title %}New Groups{% endblock %}

{% block body %}
    <h1>Create new Groups</h1>

    {{ include('groups/_form.html.twig') }}

    <a href="{{ path('app_groups_index') }}">back to list</a>
{% endblock %}
