{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
                <i class="material-icons">list</i>
            </div>
            <h4 class="card-title">Model List</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% if is_granted('ROLE_OWNER') %}
                {% elseif is_granted('ROLE_REPORT_GEN') %}
                <div class="row border-bottom">
                    <div class="col text-center">
                        <button class="btn btn-warning mb-3 exportModel">Export table to Excel Spreadsheet</button>
                    </div>
                </div>
                {% endif %}
                <table class="table" id="modelList" data-cols-width="25,25,8">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Model</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for model in models %}
                        <tr>
                            <td>{{ model.manufacturer }}</td>
                            <td>{{ model.model }}</td>
                            <td>{{ model.counter }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10" class="text-center">No Manufacturers found</td>
                            <td colspan="d-none"></td>
                            <td colspan="d-none"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a class="btn btn-rose" href="{{ path('app_report_index') }}">Return to Reports</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_script %}
    <script>
        $(document).ready(function () {
            $().ready(function () {
                $(".exportModel").click(function (e){
                    let tableId = $(this).data("tid");
                    let tableModel = document.querySelector("#modelList").cloneNode(true);
                    tableModel.innerHTML = tableModel.innerHTML.replace(/>-</g,'><');

                    let name = 'Model Summary.xlsx';
                    let book = TableToExcel.tableToBook(tableModel,{
                        sheet:{
                            name: "Models List"
                        }
                    });
                    TableToExcel.save(book,name)
                })
            })
        })
    </script>
{% endblock %}



