{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
                <i class="material-icons">list</i>
            </div>
            <h4 class="card-title">Windows counter</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% if is_granted('ROLE_OWNER') %}
                {% else %}
                <div class="row border-bottom">
                    <div class="col text-center">
                        <button class="btn btn-warning mb-3 exportWarranty">Export table to Excel Spreadsheet</button>
                    </div>
                </div>
                {% endif %}
                <table class="table" id="warrantylist" data-cols-width="25,8">
                    <thead>
                    <tr>
                        <th>Device Name</th>
                        <th>Warranty exp</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for device in devices %}
                        <tr>
                            <td>{{ device.name }}</td>
                            <td>{% if device.specification %}
                                    {{ device.specification.warrantyExp|date("Y-m-d") }}
                                {% else %}
                                    No Spec
                                    {% endif %}
                            </td>
                        </tr>

                    {% else %}
                        <tr>
                            <td colspan="10" class="text-center">No OS Type found</td>
                            <td colspan="d-none"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a class="btn btn-rose" href="{{ path('app_report_index') }}">Return to Reports</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_script %}
    <script>
        $(document).ready(function () {
            $().ready(function () {
                $(".exportWarranty").click(function (e){
                    let tableId = $(this).data("tid");
                    let tableWarranty = document.querySelector("#warrantylist").cloneNode(true);
                    tableWarranty.innerHTML = tableWarranty.innerHTML.replace(/>-</g,'><');

                    let name = 'Warranty_exp.xlsx';
                    let book = TableToExcel.tableToBook(tableWarranty,{
                        sheet:{
                            name: "Warranty List"
                        }
                    });
                    TableToExcel.save(book,name)
                })
            })
        })
    </script>
{% endblock %}




